-# NOTES
.container
  .notes
    - @notes.each do |note|
      .note

        .note-header
          %h6.created
            Created:
            = note.created_at.strftime("%m-%d-%y")
          %h6.delete-x= link_to "X", note_path(note), method: :delete, data: {confirm: "Are you sure?"}

        %a.note-body{ href: (url_for [note])}
          %h3.title= truncate(note.title, :length => 20)
        .note-footer

          %h6.updated
            Updated:
            = time_ago_in_words(note.updated_at)

    - if @notes.blank?
      %h2.blank-header It appears you have not created any notes yet... Let's change that!
      = button_to "Create A New Note", new_note_path, method: :get, class: "new-btn"
-# FOOTER
%footer
  .container
    %p &copy; 2016 Shoaib Shaikh
    #logo
      = link_to image_tag("noted_logo.png").html_safe, root_path
