<div class="container wrapper-with-padding">
  <div class="form-header">
    <h2>Sign up</h2>
  </div>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <div class="input-group">
        <%= f.input_field :email, required: true, autofocus: true %>
        <%= f.label :email, "Your Email Address"%>
      </div>
      <div class="input-group">
        <%= f.input_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
        <%= f.label :password, "Your Secret Password"%>
      </div>
      <div class="input-group">
        <%= f.input_field :password_confirmation, required: true %>
        <%= f.label :password_confirmation, "Password Confirmation"%>
      </div>
    </div>
    <div class="form-actions">
      <%= f.button :submit, "Sign up" %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>

<!-- FOOTER -->
<footer>
  <div class="container">
    <p>
      &copy; 2016 Shoaib Shaikh
    </p>
    <div id="logo">
      <%=  link_to image_tag("noted_logo.png").html_safe, root_path %>
    </div>
  </div>
</footer>
